<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>
nome: string, email: string, assunto: string, mensagem: string)

<div class="message-content">
  <p>Remetente: {{nome}} - {{email}}</p>
  <p>Destinatário: Samuel de Sousa Dias - samukdias97@gmail.com</p>
  <p>Assunto: {{assunto}}</p>
  <p>Mensagem: {{mensagem}}</p>
  <small>Clique <a href="http://seusistema.com.br?desinscrever={{email}}">aqui</a> para ir ao meu portifólio.</small>
</div>